body { font-family: sans-serif; margin: 0; }
.container {
    display: flex;
    flex: 1 1 auto;
    height: calc(100svh - 70px);
    padding: 10px;
}
.container[data-layout="vertical"] { flex-direction: row; }
.container[data-layout="horizontal"] { flex-direction: column; }

#editor-container {
    border: 1px solid #ccc;
    min-width: 10px;
    min-height: 10px;
}

#output-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 10px;
    min-height: 10px;
}

.minimized {
    display: none !important;
}
.maximized {
    display: block;
}

.output-panel {
    border: 1px solid #ccc;
}
#output-container .CodeMirror-scroll {
    background: #f8f8f8;
}
#output-container.error .CodeMirror-scroll {
    opacity: 0.3;
}
#editor-container.error .CodeMirror-scroll {
    background-color: #fff8f8;
}

#editor-container, #svg-output, #text-output {
    margin: 0;
    height: 100%;
    width: 100%;
}
#svg-output { overflow: hidden; }
#text-output { overflow-y: auto; }

#editor-container {
    display: flex;
    flex-direction: column;
}
#editor {
    flex: 1 1 auto;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#controls div { margin: 10px; }
#error-output {
    color: red;
    font-family: monospace;
    max-height: 120px;
    overflow-y: auto;
}
#statusbar { font-family: monospace; }

.splitter {
    min-width: 8px;
    min-height: 8px;
    background-color: #eee;
    flex: none;
    z-index: 1000;
}
.splitter:hover { background-color: #ddd; }
.splitter:active { background-color: #ccc; }
.container[data-layout="horizontal"] {
    #main-split { cursor: row-resize; }
    #output-split { cursor: col-resize; }
    #output-container { flex-direction: row; }
}
.container[data-layout="vertical"] {
    #main-split { cursor: col-resize; }
    #output-split { cursor: row-resize; }
    #output-container { flex-direction: column; }
}

.CodeMirror .error-line { background-color: #ffdddd; }
.CodeMirror .hover-line { background-color: #f0f0f0; }
.CodeMirror { height: 100%; }

svg { width: 100%; height: 100%; }

button { background-color: #eee; border-radius: 2px; box-shadow: 2px 2px 3px #000; border: none; }
#tabs { padding: 10px; }
#tabs button { border-radius: 0px; margin: 3px; }
button:hover, button:focus { box-shadow: 1px 1px 2px #000; }
button:active { box-shadow: inset 1px 1px 2px #000; }
button[data-checked="true"] { background-color: #ccc; box-shadow: inset 1px 1px 2px #000; }
button[data-checked="true"]:hover, button[data-checked="true"]:focus { box-shadow: inset 2px 2px 3px #000; }
button[data-checked="true"]:active { box-shadow: inset 3px 3px 4px #000; }

/* outer popup container - must be relative */
#controls div.popup-container { display: inline-flex; position: relative; margin: 0; padding: 0; }
/* popup buttons appear immediately above the previous button */
#controls div.popup-buttons { position: absolute; bottom: 100%; margin: 0; }

/* hide popup buttons by default */
#controls div .popup-button { display: none; width: 100%; }
/* initial reveal */
#copy-png:hover ~ .popup-buttons .popup-button { display: block; }
#copy-svg:hover ~ .popup-buttons .popup-button { display: block; }
#help:hover ~ .popup-buttons .popup-button { display: block; }
/* keep shown when hovering over popup */
#controls .popup-buttons:hover .popup-button { display: block; }

.popup-buttons button {
    display: block;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #ccc;
}
/* avoid double border */
.popup-buttons button + button { border-top: none; }

/* interactive appearance for hover buttons */
.popup-button:hover { background-color: #ddd; }
.popup-button:active { background-color: #bbb; }

header {
    padding:10px;
    display: flex;
    background: #dde;
    justify-content: space-between;
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
header span {
    align-content: center;
}
header a {
    color: #000;
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
